<div id="menu" class="row">
  <div class="items-container" ng-repeat="item in menu.items">
    <div class="well col-md-4">
      <img class="item__image" ng-src="images/{{item.img}}" alt="{{item.name}}"> </img>
      <!--  item is state name ,  id:item.id is state parameter-->
      <h4><a ui-sref="item({id:item.id})">{{item.name}}</a></h4>
      <p>
        Rating:{{item.rating}} <span ng-if="item.rating > 4.5" ng-class="{highlight: item.rating >= 4.6}" > People Love it </span>
        <!--span>Rating:</span-->
        <br>
        <button ng-click="menu.increment(item)">+</button>
        <button ng-click="menu.decrement(item)">-</button>
      </p>
      <hr>
      <div class="well">
        <span>Compose your menu</span>
        <select ng-model="item.meal">
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
        </select>
        <button ng-click="menu.ChooseItem(item.meal,item)">+</button>
        <button ng-click="menu.RemoveItem(item.meal,item)">-</button>
      </div>
    </div>
  </div>
</div>
