<h2 class="center"> Weekly food tracking</h2>
<div class="row">
  <div class="col-md-2" ng-repeat="(day, menuCategory) in order.list" ng-click="order.setActiveDay(day)">
    <div class="day"> <p>{{day}}</p> </div>
    <dl>
      <dt>BreakFast</dt>
      <dd class="dd">
          {{ menuCategory.breakfast.name }}
      </dd>
      <dt>Lunch</dt>
      <dd class="dd">
          {{ menuCategory.lunch.name }}
      </dd>
      <dt>Dinner</dt>
      <dd class="dd">
          {{ menuCategory.dinner.name}}
      </dd>
    </dl>
    <p ng-if ="menuCategory.calories > 0"> Calories: {{menuCategory.calories}} </p>
    <p ng-if ="menuCategory.price > 0"> Price: {{menuCategory.price}} $</p>
    <hr>
  </div>
